:root {
  --primary-color: #009b86;
  --secondary-color: #05b5c8;
  --tertiary-color: ##74c2b2;
  --quaternary-color: #2e2a25;
}
body {
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "System-ui", sans-serif;
  font-weight: bolder;
}

/* topbar */

.top-bar {
  background-color: var(--primary-color);
  color: white;
  padding: 0.1rem 15rem;
  font-weight: bolder;
}

.inner-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.inner-topbar a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9rem;
}

.inner-topbar a:hover {
  text-decoration: underline;
  color: black;
}
.inner-topbar .social-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
}

.inner-topbar .social-icons li:nth-child(2) {
  column-gap: 0.5rem;
}

.inner-topbar .social-icons li:nth-child(2)::before {
  content: " ";
  display: block;
  width: 1px;
  height: 1.5rem;
  background-color: white;
}
.inner-topbar .social-icons li:nth-child(2)::after {
  content: " ";
  display: block;
  width: 1px;
  height: 1.5rem;
  background-color: white;
}

.inner-topbar .social-icons li {
  display: flex;
  flex-direction: row;
}
.inner-topbar .social-icons .icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* medias for topbar */

@media (max-width: 768px) {
  .top-bar {
    padding: 0.1rem 1rem;
  }
  .inner-topbar .social-icons {
    display: none;
  }
  .inner-topbar .left-container p:nth-child(2) {
    display: none;
  }
  .inner-topbar .right-container p:nth-child(1) {
    display: none;
  }
}

/* end medias for topbar */
/* endtopbar */
/* navbar inkor */
header {
  background-color: white;
  padding: 0.5rem 15rem;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo .img-logo {
  width: 120px;
  height: 75px;
  vertical-align: middle;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: var(--quaternary-color);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
header nav ul li a:hover {
  color: var(--primary-color);
}
header nav ul li a.active {
  color: var(--primary-color);
}

/* fin navbar inkor */

/* hero container */

.hero {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero .video-container video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(85%);
}
.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero .hero-content h1 {
  color: white;
  font-size: 5rem;
  font-weight: 900;
}
.hero .hero-content .color-title {
  display: block;
  color: var(--primary-color);
  font-size: 6rem;
  overflow: hidden;
  border-right: 0.15em solid var(--primary-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15rem;
  animation: typing 3.5s steps(40, end), blink-caret 0.35s step-end infinite;
}

.hero .hero-content .hero-description {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  line-height: 3.5rem;
}

.hero .hero-content .hero-buttons button {
  background-color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.hero .hero-content .hero-buttons button:hover {
  background-color: transparent;
  border: 2px solid white;
}

.hero .hero-content .hero-buttons a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.hero .hero-content .hero-buttons button:hover a {
  color: white;
}
/* animaciones del typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
/* fin de las animaciones del typing */
/* end hero container */

/* main content */
main {
  padding: 2rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main h2 {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
}
main .text-primary {
  color: var(--primary-color);
  display: block;
}

main .ciclos-content-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
  margin-top: 5rem;
}

.ciclos-content-cards article {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ciclos-content-cards article:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ciclos-content-cards .img-container {
  display: flex;
  justify-content: center;
}

.ciclos-content-cards article img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border-radius: 1rem;
  margin: 0 auto;
}

.ciclos-content-cards article h3 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary-color);
}
.ciclos-content-cards article p {
  line-height: 2rem;
}

.ciclos-content-cards article ul {
  list-style: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* end main content */

/* newsletter */

.newsletter {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsletter h2 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  line-height: 0.5rem;
}
.newsletter p {
  font-size: 1rem;
  text-align: center;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 20rem;
  margin-top: 3rem;
}

.newsletter form .email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
.newsletter form .email-container label {
  font-size: 1rem;
  padding-left: 0.5rem;
}
.newsletter form .email-container input[type="email"] {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}
.newsletter form .submit-container {
  display: flex;
  justify-content: center;
}

.newsletter form .terminos-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.5rem;
}

.newsletter form .terminos-container input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}

.newsletter form button[type="submit"] {
  background-color: var(--quaternary-color);
  color: white;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  max-width: 8rem;
}
.newsletter form button[type="submit"]:hover {
  background-color: transparent;
  border: 2px solid white;
  color: var(--quaternary-color);
}
/* end newsletter */

/* footer */

footer {
  background-color: var(--quaternary-color);
  color: white;
  padding: 2rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .footer-logo-container {
  border-bottom: 2px solid white;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 5rem;
}
.footer-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-container ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.footer-container ul li a:hover {
  color: var(--primary-color);
}

/* end footer */

/* chatbot */

#chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#chatbot button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  place-items: center;
  font-size: 1.1rem;
  font-weight: bolder;
}

#chatbot button:hover {
  background-color: var(--secondary-color);
}

/* end chatbot */
